<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--注意  namespace属性值需修改为对应的Mapper接口的全类名-->
<mapper namespace="cn.cslg.mapper.PartcommentMapper">

    <select id="select" resultType="cn.cslg.model.Partcomment">
        select * from partcomment
    </select>

    <insert id="insert">
        insert into partcomment values(#{id},#{bid},#{comment})
    </insert>

    <delete id="delete">
        delete from partcomment where id=#{id}
    </delete>

    <delete id="delete1">
        delete from partcomment where bid=#{bid}
    </delete>

    <update id="update">
        update  partcomment set comment=#{comment} where id=#{id}
    </update>

    <select id="selectById" resultType="cn.cslg.model.Partcomment">
        select * from partcomment where bid=#{bid}
    </select>


</mapper>